

.icon {
  width: 100%;
  height: 100%;
  border: 1px dashed $text-color;
  border-radius: 3px;
  user-select: none;
  svg {
    color: $text-color;
    width: 100%;
    height: 100%;
  }

  &:hover{
    border: 1px solid $text-color;
    svg {
      animation: hover-glitch 1s ease alternate none;
    }
    filter: brightness(150%);
  }
}



@keyframes hover-glitch {
  0% {
    opacity: 1;
    transform: skew(0, 0);
  }
  5% {
    opacity: 0.8;
    transform: skew(16deg, 0);
  }
  10% {
    opacity: 0.8;
    transform: skew(-20deg, 0);
  }
  15% {
    opacity: 0.8;
    transform: skew(16deg, 0);
  }
  20% {
    opacity: 1;
    transform: skew(0, 0);
  }
}