//@use "global";



.vdr {
  touch-action: none;
  position: absolute;
  box-sizing: border-box;
  border: 2px solid $text-color;
  background-color: black;
}

.handle {
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid $text-color;
  border-radius: 10%;
}

.top-window {
  display: flex;
  width: 100%;
  height: 1em;
  border-bottom: 1px solid $text-color;
  a.button {
    background-color: black;
    width: 20px;
    border-left: 1px solid $text-color;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
  }
  a.button:active {
    color: black;
    background-color: $text-color;
  }

}

.drag-handle {
  position: relative;
  width: 100%;
  height: 1em;
  cursor: grab;
  ::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1em;
    background-size: 3px 150%;
    transform: skewX(45deg);
    background-image:
            repeating-linear-gradient(
                            90deg,
                            black 0%, black 50%, $text-color 50%, $text-color 100%,
            );
  }
  span {
    color: $text-color;
    background-color: black;

    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    padding: 0px 10px;
    user-select: none;

  }
}

.handle-br {
  bottom: -5px;
  right: -5px;
  cursor: se-resize;
  border-top: transparent;
  border-left: transparent;
}

.handle-bl {
  bottom: -5px;
  left: -5px;
  cursor: sw-resize;
  border-top: transparent;
  border-right: transparent;
}

.handle-tl {
  top: -5px;
  left: -5px;
  cursor: nw-resize;
  border-bottom: transparent;
  border-right: transparent;
}

.handle-tr {
  top: -5px;
  right: -5px;
  cursor: ne-resize;
  border-bottom: transparent;
  border-left: transparent;
}

