@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

@mixin pseudo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
}

$screen-background: #242424;
$text-color: rgba(44, 178, 3, 0.87);

:root {
  font-family: Handjet, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-color;
  background-color: $screen-background;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //--var: #smth  (use var(--var))
}

::selection {
  background: #181818;
  color: #37d700;
}

html, body {
  height: 100vh;
  margin: 0;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: transparent, $text-color;
  }
}

.overlay {
  height: calc(100% - 6rem);
  overflow: hidden;

  padding: 3rem;
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('/crt.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
    pointer-events: none;
  }

  &::before {
    @include pseudo;
    background: linear-gradient(
                    transparentize($screen-background, 1) 50%,
                    transparentize(darken($screen-background, 10), 0.75) 50%
    ),
    linear-gradient(
                    90deg,
                    transparentize(#ff0000, 0.94),
                    transparentize(#00ff00, 0.98),
                    transparentize(#0000ff, 0.94)
    );
    z-index: 100;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
}

.fullscreen {
  filter: brightness(200%);
  &::after {
    opacity: 60%;
    z-index: 30;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('/crt.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    content: "";
    pointer-events: none;
  }
}

.desktop-grid {
  margin-top: 40px;
  display: grid;
  width: 100%;
  max-height: 100%;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, 60px);
  grid-template-rows: repeat(auto-fill, 60px);
}

.device-info {
  font-size: 25px;
  position: absolute;
  user-select: none;
  animation: 4s ease 1000ms normal none infinite running glitch;
  display: flex;
  align-items: center;
  width: calc(100% - 6rem);
  justify-content: space-between;
}

main {
  width: 100%;
  height: 95%;
  position: relative;
}

#systemInfo {
  height: 35px;
}

.bg {
  overflow: hidden;
}

.app-content {
  width: calc(100% - 5px);
  height: calc(100% - 10px - 1em);
  padding: 5px;
}



@keyframes glitch {
  30% {
  }
  40% {
    opacity: 1;
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
  41% {
    opacity: 0.8;
    transform: scale(1, 0.8);
    transform: skew(40deg, 0);
  }
  42% {
    opacity: 0.8;
    transform: scale(1, 0.9);
    transform: skew(-35deg, 0);
  }
  43% {
    opacity: 1;
    transform: scale(1, 1);
    transform: skew(0, 0);
  }
  65% {
  }
}

@mixin custom-scroll {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $text-color;
    border-radius: 0;
  }

}

